.register {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-container {
  background-color: #fff;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

.register-title {
  font-size: 1.6em;
  font-weight: bold;
  color: #434966;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form > label {
  margin: 10px 0px;
}

.register-form > input {
  padding: 15px;
  width: 350px;
  border: 1px solid #434966;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  color: #434966;
}

.register-form .register-button {
  margin-top: 20px;
  padding: 15px;
  cursor: pointer;
  background-color: #434966;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

.register-form .register-button:hover {
  transition: 0.1s all;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  background-color: #666e94;
}

.register-button-container {
  margin-top: 20px;
  display: flex;
  width: 100%;
}
.register-link {
  color: #434966;
  margin-left: 5px;
  cursor: pointer;
}

.error-string {
  color: red;
  margin-top: 5px;
}