@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Vidaloka&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #effcf2;
}

a {
  text-decoration: none;
  color: #434966;
}

li {
  list-style: none;
}
