.footer {
  margin-top: 30px;
  height: 80px;
  display: grid;
  place-items: center;
  background-color: #434966;
  padding: 20px 0;
}

.social, .cpr {
  color: #fff;
}

.social {
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
}

.social-icon {
  margin: 10px 5px;
}